.circle {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00447C;
  border-radius: 50%;
  font-family: Lato-Bold, Segoe UI, sans‑serif;
  font-weight: bold;
  color: #FFFFFF;
}
