.anchor {
  position: relative;
  width: 100%;
  height: 0;
  display: block;

  &:before {
    content: '';
    position: absolute;
    top: -42036px;
    left: calc(50% - 8px);
    width: 16px;
    height: 16px;
    background: $white;
    border-radius: 3px;
    box-shadow: 0 0 4px $light-grey;
    transform: rotateZ(45deg);
  }

  &.visible {
    &:before {
      top: 28px;
    }
    .dropdown {
      top: 36px;
    }
  }
}

.dropdown {
  position: absolute;
  top: -42036px;
  right: 0;
  min-width: 420px;
  box-shadow: 0 4px 6px $light-grey;
  background: $white;
  box-sizing: content-box;
  border-radius: 8px;

  &-body {
    padding: 8px 24px;
  }
}

