$primary: #00447C;
$secondary: #4277cf;

$white: #FFFFFF;
$active: #F4F7FE;
$light-grey: #EBEBEB;
$grey: #666666;

$font-color: #23272A;

$all: all 0.42s ease-out;

:root {
  --header-height: 74px;
}
