aside {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  nav {
    background: $white;
    border-radius: 0 30px 30px 0;

    box-shadow: 0 0 8px rgba(200, 200, 200, 0.42);
  }
}

.nav {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  list-style: none;

  &-link {
    padding: 16px;
    margin: 16px;
    border-radius: 50%;
    color: $grey;
    border: 1px solid $light-grey;
    display: flex;
    align-items: center;
    box-shadow: 0 0 8px $light-grey;
    transition: $all;

    &:hover {
      color: $font-color;
      box-shadow: 0 0 8px $grey;
    }

    &.current {
      border-color: $secondary;
      box-shadow: 0 0 8px $secondary;

      .icon {
        stroke: $secondary;
      }
    }
  }
}
