<tt-header>
  <div class="search" search>
    <tt-location (locationChanged)="locationChanged($event)"></tt-location>
  </div>

  <tt-weather weather>
    <tt-list></tt-list>
  </tt-weather>

  <ng-container date-time>
    <tt-date [format]="dateFormat"
             ttBold
             [date]="(location.date | async) | offset:location.offset"></tt-date>
    <tt-date [format]="timeFormat"
             ttBold
             [date]="(location.date | async) | offset:location.offset"></tt-date>
  </ng-container>

  <tt-profile profile></tt-profile>
</tt-header>

<main>
  <router-outlet></router-outlet>
</main>

<tt-sidebar>
  <tt-nav [prefix]="routePrefix" [routes]="routes"></tt-nav>
</tt-sidebar>
